.locations__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  text-align: center;
  height: 128px;
  max-width: 240px;
  border-radius: 4px;
  box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.locations__card:hover,
.locations__card:focus {
  box-shadow: 0 4px 16px rgba(0, 181, 204, 0.3);
}

.locations__card-info {
  padding: 1rem;
}

.locations__card-name {
  font-weight: 500;
  font-size: 20px;
  color: rgb(34, 34, 34);
  margin-bottom: 0.25rem;
}

.locations__card-other {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.filters__filter-item{
  width: 300px;
}