.episodes__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  text-align: center;
  height: 128px;
  max-width: 240px;
  border-radius: 4px;
  box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.episodes__card:hover,
.episodes__card:focus {
  box-shadow: 0 4px 16px rgba(0, 181, 204, 0.3);
}

.episodes__card-info {
  padding: 1rem;
}

.episodes__card-name {
  font-weight: 500;
  font-size: 20px;
  color: rgb(34, 34, 34);
  margin-bottom: 0.25rem;
}

.episodes__card-other {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.episodes__card-serie {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
#episodes-search {
  width: 500px;
}